# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Dataset
dataset/

# Uploaded Images
static/uploads/

# Trained Model
model/*.keras
model/*.h5

# Training Results
results/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/